<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.multi.bbs.communityBoard.model.mapper.ProudBoardMapper">

	<resultMap type="ProudBoard" id="proudBoardListResultMap">
		<id property="bNo" column="bNo"/>
		<result property="title" column="TITLE"/>
		<result property="mNo" column="mNo"/>
		<result property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="readCount" column="READCOUNT"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renamedFileName" column="RENAMED_FILENAME"/>
		<result property="content" column="CONTENT"/>
		<result property="type" column="TYPE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
	
	
	<resultMap type="ProudBoard" id="proudBoardDetailResultMap" extends="proudBoardListResultMap">
	</resultMap>
	
	<select id="selectProudBoardList" resultMap="proudBoardListResultMap" parameterType="map">
		SELECT  
			DISTINCT B.BNO, B.TITLE, B.CONTENT, M1.ID, M1.NAME, B.CREATE_DATE, B.ORIGINAL_FILENAME, B.RENAMED_FILENAME, B.READCOUNT, B.STATUS
		FROM COMMBOARD B
		LEFT OUTER JOIN MEMBER M1 ON B.MNO = M1.MNO
		LEFT OUTER JOIN REPLY R ON R.BNO = B.BNO 
		LEFT OUTER JOIN MEMBER M2 ON R.MNO = M2.MNO 
		WHERE B.STATUS = 'Y' AND B.TYPE = 'PROUD'
		<if test="name != null">
			AND M1.NAME LIKE '%${name}%' 
		</if>		
		<if test="title != null">
			AND B.TITLE LIKE '%${title}%' 
		</if>		
		<if test="content != null">
			AND B.CONTENT LIKE '%${content}%' 
		</if>		
		<if test="all != null">
			AND(
				b.title like 			'%${all}%' 
				OR b.content like 		'%${all}%'
				OR m1.id like 			'%${all}%'
				OR r.content like 		'%${all}%'
				OR m2.id like 			'%${all}%'
			)
		</if>		
		ORDER BY B.BNO DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	
	<select id="selectProudBoardCount" resultType="int" parameterType="map">
		SELECT  
			 COUNT(DISTINCT B.BNO)
		FROM COMMBOARD B
		LEFT OUTER JOIN MEMBER M1 ON B.MNO = M1.MNO
		WHERE B.STATUS = 'Y' AND B.TYPE = 'PROUD'
		<if test="writer != null">
			AND M1.ID LIKE '%${writer}%' 
		</if>		
		<if test="title != null">
			AND B.TITLE LIKE '%${title}%' 
		</if>		
		<if test="content != null">
			AND B.CONTENT LIKE '%${content}%' 
		</if>		
		<if test="all != null">
			AND(
				b.title like 			'%${all}%' 
				OR b.content like 		'%${all}%'
				OR m1.id like 			'%${all}%'
				OR r.content like 		'%${all}%'
				OR m2.id like 			'%${all}%'
			)
		</if>		
	</select>
	
	<select id="selectHoneyBoardCount" resultType="int" parameterType="map">
		SELECT  
			 COUNT(DISTINCT B.BNO)
		FROM COMMBOARD B
		LEFT OUTER JOIN MEMBER M1 ON B.MNO = M1.MNO
		LEFT OUTER JOIN COMMREPLY R ON R.BNO = B.BNO 
		LEFT OUTER JOIN MEMBER M2 ON R.MNO = M2.MNO 
		WHERE B.STATUS = 'Y' AND B.TYPE = 'HONEY'
		<if test="writer != null">
			AND M1.ID LIKE '%${writer}%' 
		</if>		
		<if test="title != null">
			AND B.TITLE LIKE '%${title}%' 
		</if>		
		<if test="content != null">
			AND B.CONTENT LIKE '%${content}%' 
		</if>		
		<if test="all != null">
			AND(
				b.title like 			'%${all}%' 
				OR b.content like 		'%${all}%'
				OR m1.id like 			'%${all}%'
				OR r.content like 		'%${all}%'
				OR m2.id like 			'%${all}%'
			)
		</if>		
	</select>
	
	<select id="selectProudBoardByNo" parameterType="int" resultMap="proudBoardDetailResultMap">
		SELECT  
			B.BNO, B.TITLE, M.ID, B.READCOUNT, B.TYPE, B.ORIGINAL_FILENAME, B.RENAMED_FILENAME, B.CONTENT, B.CREATE_DATE, B.MODIFY_DATE,
			R.RNO AS R_RNO, 
		    R.BNO AS R_BNO,
		    R.CONTENT  AS R_CONTENT, 
		    M2.ID  AS R_ID, 
		    R.CREATE_DATE  AS R_CREATE_DATE, 
		    R.MODIFY_DATE  AS R_MODIFY_DATE
		FROM COMMBOARD B
		JOIN MEMBER M ON(B.MNO = M.MNO)
		LEFT OUTER JOIN REPLY R ON (B.BNO = R.BNO)
		LEFT OUTER JOIN MEMBER M2 ON (R.MNO = M2.MNO)
		WHERE B.STATUS = 'Y' AND B.TYPE = 'PROUD' AND B.BNO = #{bNo} 
	</select>
	
	<insert id="insertProudBoard" parameterType="ProudBoard">
		INSERT INTO COMMBOARD(
			BNO, MNO, TITLE,
			CONTENT, ORIGINAL_FILENAME,
			RENAMED_FILENAME, READCOUNT, STATUS,
			CREATE_DATE, MODIFY_DATE, TYPE	
		) VALUES (
			0, #{mNo}, #{title}, 
			#{content}, #{originalFileName}, 
			#{renamedFileName}, DEFAULT, DEFAULT, 
			DEFAULT, DEFAULT, 'PROUD'			
		)
	</insert>
	

	<update id="updateProudBoard" parameterType="ProudBoard">
		UPDATE COMMBOARD
		SET
			TITLE=#{title},
			CONTENT=#{content},
			<if test="originalFileName != null">
				ORIGINAL_FILENAME=#{originalFileName},
			</if>
			<if test="renamedFileName != null">
				RENAMED_FILENAME=#{renamedFileName},
			</if>
			MODIFY_DATE = CURRENT_TIMESTAMP
		WHERE
			BNO=#{bNo} AND TYPE = 'PROUD'
	</update>
	
	<update id="updateProudReadCount" parameterType="map">
		UPDATE COMMBOARD SET READCOUNT=#{readCount} WHERE BNO=#{bNo} and TYPE = 'PROUD'
	</update>
	
	<update id="deleteProudBoard" parameterType="int">
		UPDATE COMMBOARD SET STATUS='N' WHERE BNO=#{bNo} AND TYPE = 'PROUD'
	</update>
	
	<!-- 좋아요 -->
	<insert id="insertProudBoardLike" parameterType="map">
		INSERT INTO BOARDLIKE (MNO, BNO, TYPE) VALUES (#{mNo}, #{bNo}, 'PROUD')
	</insert>
	
	<delete id="deleteProudBoardLike" parameterType="map">
		DELETE FROM BOARDLIKE
		WHERE 1 = 1
		AND MNO = #{mNo}
		AND BNO = #{bNo}
	</delete>
	
	<select id="selectProudBoardLikeCount" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM BOARDLIKE
		WHERE 1 = 1
		AND MNO = #{mNo}
		AND BNO = #{bNo}
		AND TYPE = 'PROUD'
	</select>
	

</mapper>

