<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.multi.bbs.manage.model.mapper.ManageBoardMapper">

	<resultMap type="Managelist" id="ManagelistResultMap">
		<id property="bno" column="bNo"/>
		<result property="mno" column="mNo"/>
		<result property="status" column="STATUS"/>
		<result property="plantname" column="PLANTNAME"/>
		<result property="petname" column="PETNAME"/>
		<result property="location" column="LOCATION"/>
		<result property="content" column= "CONTENT"/>
		<result property="originalimg" column="ORIGINAL_IMG"/>
		<result property="renamedimg" column="RENAMED_IMG"/>
		<result property="startdate" column="START_DATE"/>
		<result property="waterdate" column="WATER_DATE"/>
		<result property="createdate" column="CREATE_DATE"/>
	
	</resultMap>

	
	<select id="selectMANAGELISTCount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM MANAGELIST WHERE STATUS = 'Y' and mNo = #{mno}
	</select>
	
	<select id="selectMANAGELISTList" parameterType="int" resultMap="ManagelistResultMap">
		SELECT 
			*
		 FROM MANAGELIST WHERE STATUS = 'Y' and mNo = #{mno}
	</select>
		
	
	<select id="selectMANAGELIST" parameterType="int" resultMap="ManagelistResultMap">
		SELECT 
			*
		 FROM MANAGELIST WHERE STATUS = 'Y' and bno = #{bno}
	</select>
		
		
		
	<insert id="insertMANAGELIST" parameterType="Managelist">
		INSERT INTO MANAGELIST(
			bNo, mNo, STATUS,
			PLANTNAME, PETNAME,
			LOCATION, CONTENT,
			ORIGINAL_IMG, RENAMED_IMG,
			START_DATE, WATER_DATE, CREATE_DATE
		) VALUES (
			0, #{mno}, DEFAULT, #{plantname}, 
			#{petname}, #{location}, 
			#{content}, #{originalimg}, #{renamedimg}, 
			#{startdate}, #{waterdate}, DEFAULT
		);
	</insert>
		
	<update id="updateMANAGELIST" parameterType="Managelist">
		UPDATE MANAGELIST
		SET
		PLANTNAME =#{plantname}
		PETNAME = #{petname}
		LOCATION = #{location}
		CONTENT = #{content}
		<if test="originalimg != null">
                ORIGINAL_IMG = #{originalimg},
            </if>
            <if test="renamedimg != null">
                RENAMED_IMG = #{renamedimg},
            </if>
		WATER_DATE = CURRENT_TIMESTAMP
		WHERE
			BNO=#{bNo}
	</update>

	<resultMap type="Plantmanage" id="PlantmanageResultMap">
		<result property="cno" column="cNo" />
		<result property="bno" column="bNo" />
		<result property="mno" column="mNO" />
		<result property="working" column="WORKING"/>
		<result property="waterrdate" column="WATER_DATE" />
		<result property="createedate" column="CREATE_DATE" />
		<result property="content" column="CONTENT" />
	</resultMap>
	
	<insert id="insertPLANTMANAGE" parameterType="Plantmanage">
		INSERT INTO PLANTMANAGE VALUES(
			0, #{bno}, #{mno}, #{working}, 
			#{waterdate}, default, 
			#{content}
		);
	</insert>

	<select id="selectPlantmanageList" parameterType="map" resultMap="PlantmanageResultMap">
		select * from PLANTMANAGE where mNo = #{mno} and bNo = #{bno}
	
	</select>

</mapper>