<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.multi.bbs.manage.model.mapper.ManageBoardMapper">

	<resultMap type="Managelist" id="ManagelistResultMap">
		<id property="bno" column="bNo"/>
		<result property="mno" column="mNo"/>
		<result property="status" column="STATUS"/>
		<result property="plantname" column="PLANTNAME"/>
		<result property="petname" column="PETNAME"/>
		<result property="location" column="LOCATION"/>
		<result property="content" column= "CONTENT"/>
		<result property="originalimg" column="ORIGINAL_IMG"/>
		<result property="renamedimg" column="RENAMED_IMG"/>
		<result property="startdate" column="START_DATE"/>
		<result property="waterdate" column="WATER_DATE"/>
		<result property="createdate" column="CREATE_DATE"/>
	
	</resultMap>

<resultMap type="Plantreply" id="PlantreplyResultMap">
		<result property="pno" column="pNo" />
		<result property="bno" column="bNo" />
		<result property="mno" column="mNo" />
		<result property="poption" column="POPTION"/>
		<result property="content" column="CONTENT" />
		<result property="status" column="STATUS" />
		<result property="waterdate" column="WATER_DATE" />
		<result property="createdate" column="CREATE_DATE" />
	</resultMap>


<resultMap type="Managelist" id="ManagelistdetailResultMap" extends="ManagelistResultMap">
        <collection property="plantreplylist" javaType="arrayList" columnPrefix="R_" resultMap="PlantreplyResultMap"/>
    </resultMap>

	
	<select id="selectMANAGELISTCount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM MANAGELIST WHERE STATUS = 'Y' and mNo = #{mno}
	</select>
	
	<select id="selectMANAGELISTList" parameterType="int" resultMap="ManagelistResultMap">
		SELECT 
			*
		 FROM MANAGELIST WHERE STATUS = 'Y' and mNo = #{mno}
	</select>
		
	
	<select id="selectMANAGELIST" parameterType="int" resultMap="ManagelistdetailResultMap">
		SELECT 
			P.bNo, M.ID, P.STATUS, P.PLANTNAME, P.PETNAME, P.LOCATION, P.CONTENT, P.ORIGINAL_IMG, P.RENAMED_IMG, P.START_DATE, P.WATER_DATE, M.NAME, 
			P.CREATE_DATE,
            R.pNo as R_pNo, 
            R.bNo as R_bNo, 
            R.POPTION as R_POPTION, 
            R.CONTENT as R_CONTENT, 
            R.STATUS as R_STATUS,
            R.WATER_DATE as R_WATER_DATE,
            R.CREATE_DATE as R_CREATE_DATE,
            M2.ID as R_ID
		FROM MANAGELIST P 
	        JOIN MEMBER M ON(P.mNO = M.mNO)
	        LEFT OUTER JOIN PLANTREPLY R ON(R.bNo = P.bNo)
	        LEFT OUTER JOIN MEMBER M2 ON(R.mNO = M2.mNO)
        WHERE P.STATUS = 'Y' AND  P.bNo= #{bno}
		 
	</select>
		
		
		
	<insert id="insertMANAGELIST" parameterType="Managelist">
		INSERT INTO MANAGELIST(
			bNo, mNo, STATUS,
			PLANTNAME, PETNAME,
			LOCATION, CONTENT,
			ORIGINAL_IMG, RENAMED_IMG,
			START_DATE, WATER_DATE, CREATE_DATE
		) VALUES (
			0, #{mno}, DEFAULT, #{plantname}, 
			#{petname}, #{location}, 
			#{content}, #{originalimg}, #{renamedimg}, 
			#{startdate}, #{waterdate}, DEFAULT
		);
	</insert>
		
	<update id="updateMANAGELIST" parameterType="Managelist">
		UPDATE MANAGELIST
		SET
		PLANTNAME =#{plantname}
		PETNAME = #{petname}
		LOCATION = #{location}
		CONTENT = #{content}
		<if test="originalimg != null">
                ORIGINAL_IMG = #{originalimg},
            </if>
            <if test="renamedimg != null">
                RENAMED_IMG = #{renamedimg},
            </if>
		WATER_DATE = CURRENT_TIMESTAMP
		WHERE
			BNO=#{bNo}
	</update>

	<resultMap type="Plantmanage" id="PlantmanageResultMap">
		<result property="cno" column="cNo" />
		<result property="bno" column="bNo" />
		<result property="mno" column="mNo" />
		<result property="working" column="WORKING"/>
		<result property="waterrdate" column="WATER_DATE" />
		<result property="createedate" column="CREATE_DATE" />
		<result property="content" column="CONTENT" />
	</resultMap>

<select id="selectPLANTMANAGECount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM PLANTMANAGE WHERE STATUS = 'Y' and mNo = #{mno}
	</select>


	<insert id="insertPLANTMANAGE" parameterType="Plantmanage">
		INSERT INTO PLANTMANAGE VALUES(
			0, #{bno}, #{mno}, #{working}, 
			#{waterdate}, default, 
			#{content}
		);
	</insert>
	
	
	<select id="selectPLANTMANAGE" parameterType="map" resultMap="PlantmanageResultMap">
		SELECT 
			*
		 FROM MANAGELIST WHERE STATUS = 'Y' and bno = #{bno}
	</select>
	

	<select id="selectPLANTMANAGEList" parameterType="map" resultMap="PlantmanageResultMap">
		select * from PLANTMANAGE where mNo = #{mno} and bNo = #{bno}
	
	</select>
	
	<update id="updatePLANTMANAGE" parameterType="Managelist">
		UPDATE MANAGELIST
		SET
		cNo = 0
		bNo = #{bno}
		mNO = #{mno}
		WORKING = #{working}
		WATER_DATE = #{waterrdate}
		CREATE_DATE = #{default}
		CONTENT = #{content}
		
		
	</update>
	
	<insert id="insertPlantReply" parameterType="Plantreply">
		INSERT INTO PlantREPLY(
				pNo, bNo, mNo, POPTION,
				CONTENT, STATUS, WATER_DATE, CREATE_DATE
		) VALUES(
				0, #{bno}, #{mno}, #{poption}, #{content},
				default, default, default
			)
	</insert>
	
	<delete id="deletePlantReply" parameterType="int">
		DELETE FROM PlantREPLY WHERE RNO=#{rNo}
	</delete>
	
	
	

</mapper>