<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 향후 Mapper interface가 정의 될 위치 -->
<mapper namespace="com.multi.bbs.scrap.model.mapper.ScrapWritingMapper">

	
	<!-- 스크랩 -->
	<insert id="insertWritingscrap" parameterType="Scrap_writing">
		INSERT INTO Scrap_writing(
			mNO, NUM
		)
		VALUES (
			#{mNO}, #{num}
		)
	</insert>
	
	<!-- 스크랩 조회 -->
	<select id="selectWritingScrap" resultType="Scrap_writing" parameterType="int">
		SELECT *
		FROM Scrap_writing
		WHERE mNO = #{mNO} 
	</select> 
	
	<!-- 스크랩 리스트 출력 -->
	<select id="selectScrapWritingList" resultType="map" parameterType="int">
		SELECT SW.*, C.TITLE, C.TYPE, C.RENAMED_FILENAME
		FROM SCRAP_WRITING SW
			LEFT JOIN COMMBOARD C ON C.bNo = SW.NUM
        WHERE STATUS = 'Y' AND SW.mNO = #{mNO}
	</select>
		
</mapper>