<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.multi.bbs.Arboretum.model.mapper.arboretumMapper">


<!-- =======================식목원 관련============================= -->	
	<select id="selectArboretumList" parameterType="map" resultType="TourVO">
	    SELECT *
	    FROM Tourlist
	    WHERE cat3 = 'A01010700'
	    <if test="searchValue != null">
	        AND title LIKE '%${searchValue}%' 
	    </if>
	    ORDER BY contentid LIMIT ${limit} OFFSET ${offset};
	</select>
			
	<select id="selectArboretumCount" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM Tourlist
	    WHERE cat3 = 'A01010700'
	    <if test="searchValue != null and searchValue != ''">
	        AND title LIKE CONCAT('%', #{searchValue}, '%')
	    </if>
	</select>
	
	<select id="selectByArboretumId" parameterType="int" resultType="TourVO">
		SELECT *
		FROM Tourlist
		WHERE contentid = #{id}
	</select>
	
	
<!-- =======================산/숲 관련============================= -->
	<select id="selectMountList" parameterType="map" resultType="TourVO">
	    SELECT *
	    FROM Tourlist
	    WHERE cat3 = 'A01010400'
	    <if test="searchValue != null">
	        AND title LIKE '%${searchValue}%' 
	    </if>
	    ORDER BY contentid LIMIT ${limit} OFFSET ${offset};
	</select>	
	
	<select id="selectMountCount" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM Tourlist
	    WHERE cat3 = 'A01010400'
	    <if test="searchValue != null and searchValue != ''">
	        AND title LIKE CONCAT('%', #{searchValue}, '%')
	    </if>
	</select>
	
	<select id="selectMountId" parameterType="int" resultType="TourVO">
		SELECT *
		FROM Tourlist
		WHERE contentid = #{id}
	</select>
	



<!-- =================공원(국립공원, 도립공원, 군립공원) 관련===================== -->
	<select id="selectParkList" parameterType="map" resultType="TourVO">
		SELECT *
		FROM Tourlist
		WHERE cat3 IN ('A01010100', 'A01010200', 'A01020300')
		<if test="searchValue != null">
		    AND title LIKE '%${searchValue}%' 
		</if>
		    ORDER BY contentid LIMIT ${limit} OFFSET ${offset};
	</select>
	
	<select id="selectParkCount" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM Tourlist
	    WHERE cat3 IN ('A01010100', 'A01010200', 'A01020300')
	    <if test="searchValue != null and searchValue != ''">
	        AND title LIKE CONCAT('%', #{searchValue}, '%')
	    </if>
	</select>
	
	<select id="selectParkId" parameterType="int" resultType="TourVO">
		SELECT *
		FROM Tourlist
		WHERE contentid = #{id}
	</select>
	
	
	
<!-- =================휴양림 관련===================== -->
	<select id="selectForestLodgeList" parameterType="map" resultType="TourVO">
	    SELECT *
	    FROM Tourlist
	    WHERE cat3 = 'A01010600'
	    <if test="searchValue != null">
	        AND title LIKE '%${searchValue}%' 
	    </if>
	    ORDER BY contentid LIMIT ${limit} OFFSET ${offset};
	</select>	
	
	<select id="selectForestLodgeCount" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM Tourlist
	    WHERE cat3 = 'A01010600'
	    <if test="searchValue != null and searchValue != ''">
	        AND title LIKE CONCAT('%', #{searchValue}, '%')
	    </if>
	</select>
	
	<select id="selectForestLodgeId" parameterType="int" resultType="TourVO">
		SELECT *
		FROM Tourlist
		WHERE contentid = #{id}
	</select>
	
	
<!-- =================랜덤으로 4개 불러오기===================== -->	
	<select id="selectRandomList" parameterType="map" resultType="TourVO">
	    SELECT *
	    FROM Tourlist
	    WHERE cat3 IN ('A01010700', 'A01010400', 'A01010100', 'A01010200', 'A01020300', 'A01010600')
	    ORDER BY RAND()
	    LIMIT 4
	</select>
	<!-- 랜덤으로 3개 불러오기 (메인 페이지) -->
	<select id="selectRandomList3" parameterType="map" resultType="TourVO">
	    SELECT *
	    FROM Tourlist
	    WHERE cat3 IN ('A01010700', 'A01010400', 'A01010100', 'A01010200', 'A01020300', 'A01010600')
	    ORDER BY RAND()
	    LIMIT 3
	</select>


</mapper>